@import "fonts"
@import "mixins"
@import "easing"

@-webkit-keyframes fallPerspective
	0%
		// #sdfsdf
		opacity: 0
	100%
		-webkit-transform: translateZ(0px)
		-webkit-transform: translateY(0px)
		-webkit-transform: rotateX(0deg)
		opacity: 1

=mobile
	@media screen and (max-width: $break-small)
=noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
input, input[type="password"], input[type="search"], input[type="range"], textarea
	border: 0px none #fff
	-webkit-appearance: none
	padding: 0
	margin: 0
html, body, .splash
	margin: 0
	padding: 0
	background-color: #000
.splash
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	// overflow: hidden
	position: relative
#rotardispisitivo
	background-image: url("/img/rotate.png")
	background-position: 50% 50%
	background-repeat: no-repeat
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 100
	display: none
	background-color: #000

#created
	top: 0
	left: 0
	position: absolute
	z-index: 10
	opacity: 0
	width: 100%
	height: 100%
	+transform(scale(0,0))
	+transition(all 600ms $inout-expo)
	+prefix(transform-origin, 50% 100%)
	&.show
		opacity: 1
		+transform(scale(1,1))
	.bg
		width: 100%
		height: 100%
		top: 0
		left: 0
		position: absolute
		background-color: #000
		opacity: 0.90
	.created-overlay
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		width: 50%
		height: 50%
		a
			width: 50%
			display: block
			float: left
			+transition(all 600ms ease)
			&:hover
				+prefix(transform, scale(1.1, 1.1))

			img
				width: 100%
				height: auto
	.close
		width: 50px
		height: 50px
		position: absolute
		right: 20px
		top: 20px
		+transition(all 600ms $inout-expo)
		cursor: pointer
		&:hover
			+prefix(transform, rotateZ(180deg))



#footer
	width: 100%
	height: 52px
	// position: fixed
	// bottom: 0
	// left: 0
	background-color: #000
	p.created
		+noselect
		padding: 0
		margin: 0
		text-align: center
		background-color: #000
		+sslight
		color: #c3c3c3
		font-size: 11px
		padding-top: 12px
		padding-bottom: 10px
		width: 100%
		opacity: 0.7
		+transition(opacity 0.4s ease-in-out)

		span
			+ssmedium
		&:hover
			opacity: 1

		margin-left: auto
		margin-right: auto
		cursor: pointer
	


.video
	.dot
		background-image: url("/img/dot.png")
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
	width: 100%
	height: 100%
	position: relative
	display: block
	.splashbg
		width: 100%
		height: 100%
		background-size: cover
		background-image: url("/img/F04.jpg")
		background-repeat: no-repeat
		background-position: 50% 50%


.center-cont
	width: 550px
	height: 415px
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	
	.logo
		width: 550px
		height: 251px
		display: block
		background-image: url("/img/logo.png")
		background-repeat: no-repeat
		opacity: 1
		
		


	.social
		width: 180px
		height: auto
		overflow: auto
		margin-left: auto
		margin-right: auto
		margin-top: 60px
		a
			margin-right: 20px
			width: 48px
			height: 48px
			display: block
			float: left
			background-position: 50% 50%
			border-radius: 50%
			border-color: #fff
			background-color: #fff
			opacity: 0.7
			width: 20px
			height: 20px
			padding: 5px
			+transition(opacity 0.4s ease)
			&:hover
				opacity: 1

		a.fb
			background-image: url("/img/fb.png")
		a.tw
			background-image: url("/img/tw.png")
		a.in
			background-image: url("/img/in.png")
		a.tm
			background-image: url("/img/tm.png")
			margin-right: 0
	
	.newsletter-cont
		width: 106px
		display: block
		height: 40px
		margin: auto
		margin-top: 30px
		-webkit-transition: width 0.3s ease-in-out
		-moz-transition: width 0.3s ease-in-out
		-ms-transition: width 0.3s ease-in-out
		transition: width 0.3s ease-in-out

		input.email
			float: left
			display: block
			color: #fff
			width: 0
			height: 38px
			text-align: center
			border: none !important
			-webkit-focus-ring-color: none
			border-radius: 0
			-webkit-appearance: none
			background-color: #000
			margin-right: 0
			-webkit-transition: all 0.3s ease-in-out
			-moz-transition: all 0.3s ease-in-out
			-ms-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out
		&.show
			width: 248px
			-webkit-transition: width 0.3s ease-in-out
			-moz-transition: width 0.3s ease-in-out
			-ms-transition: width 0.3s ease-in-out
			transition: width 0.3s ease-in-out
			input.email
				border: 1px dotted #C3C3C3

				margin-right: 10px
				-webkit-transition: all 0.4s ease-in-out
				-moz-transition: all 0.4s ease-in-out
				-ms-transition: all 0.4s ease-in-out
				transition: all 0.4s ease-in-out
				width: 128px
		.newsbtn
			float: left
			height: 20px
			width: 76px
			display: block
			background-color: #000
			color: #fff
			padding: 11px
			text-align: center
			cursor: pointer
			padding-bottom: 11px
			padding-top: 9px
			padding-right: 15px
			padding-left: 15px
			// &.showSubscribe, &.sendformBtn

			// 	+transition(all 600ms $inout-expo)
			// 	&:hover
			// 		+transform(scale(1.1, 1.1))
			+noselect
			
			p
				font-size: 16px
				font-family: "Times New Roman"
				padding: 0
				margin: 0
				height: 18px
				width: 78px
#services
	.service.barber
		.thumb
			background-image: url("/img/barber.jpg")
	.divide.barber
		background-image: url("/img/barber-divide.jpg")
	.service.whiskey
		.thumb
			background-image: url("/img/whiskey.jpg")
	.divide.whiskey
		background-image: url("/img/whiskey-divide.jpg")
	.service.style
		.thumb
			background-image: url("/img/style.jpg")
	.divide.style
		background-image: url("/img/style-divide.jpg")
	.service.bartender
		.thumb
			background-image: url("/img/bartender.jpg")
	.divide.bartender
		background-image: url("/img/bartender-divide.jpg")
	.service.chair
		.thumb
			background-image: url("/img/chair.jpg")
	.divide.chair
		background-image: url("/img/chair-divide.jpg")
	.service.beer
		.thumb
			background-image: url("/img/beer.jpg")
	.divide.beer
		background-image: url("/img/beer-divide.jpg")
		

	.service
		+prefix(perspective, 1300px)
		width: 600px
		height: 400px
		position: relative
		margin-left: auto
		margin-right: auto
		
		// margin-left: 70px
		// margin-right: 0px
		+transform(translateX(10%))
		margin-top: 0px
		margin-bottom: 0px
		.shown
			opacity: 0
			+prefix(transform-style, preserve-3d)
			+prefix(transform, translateZ(400px) translateY(300px) rotateX(-90deg))
			&.appeared
				+prefix(animation, fallPerspective .8s $inout-expo forwards)
		.thumb
			width: 100%
			height: 100%
			background-size: cover

		p.title
			width: 200px
			text-align: center
			+ssbold
			font-size: 24px
			margin: 0
			padding: 24px
			background-color: #FFF
			color: #6B0D15
			position: absolute
			top: -50px
			right: 30px
		p.description
			margin: 0
			+ssnormal
			font-size: 16px
			padding: 24px
			background-color: #6B0D15
			color: #fff
			width: 300px
			bottom: -70px
			left: -70px
			position: absolute
	.divide
		width: 100%
		height: 600px

		background-size: cover
		background-position: 50% 50%



@import "mobile"


	

