@media -sass-debug-info{filename{}line{font-family:\0000312}}
html, body, .splash {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{}line{font-family:\0000318}}
.video {
  width: 100%;
  height: 100%;
  position: relative;
  display: block; }
@media -sass-debug-info{filename{}line{font-family:\0000319}}
  .video .dot {
    background-image: url("/img/dot.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
@media -sass-debug-info{filename{}line{font-family:\0000330}}
  .video .splashbg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("/img/F04.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%; }

@media -sass-debug-info{filename{}line{font-family:\0000339}}
.center-cont {
  width: 550px;
  height: 415px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
@media -sass-debug-info{filename{}line{font-family:\0000349}}
  .center-cont .logo {
    width: 550px;
    height: 251px;
    display: block;
    background-image: url("/img/logo.png");
    background-repeat: no-repeat;
    opacity: 1; }
@media -sass-debug-info{filename{}line{font-family:\0000360}}
  .center-cont .social {
    width: 130px;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; }
@media -sass-debug-info{filename{}line{font-family:\0000367}}
    .center-cont .social a {
      margin-right: 20px;
      width: 48px;
      height: 48px;
      display: block;
      float: left;
      background-position: 50% 50%;
      border-radius: 50%;
      border-color: #C3C3C3;
      background-color: #C3C3C3;
      width: 20px;
      height: 20px;
      padding: 5px; }
@media -sass-debug-info{filename{}line{font-family:\0000380}}
    .center-cont .social a.fb {
      background-image: url("/img/fb.png"); }
@media -sass-debug-info{filename{}line{font-family:\0000382}}
    .center-cont .social a.tw {
      background-image: url("/img/tw.png"); }
@media -sass-debug-info{filename{}line{font-family:\0000384}}
    .center-cont .social a.in {
      background-image: url("/img/in.png");
      margin-right: 0; }
@media -sass-debug-info{filename{}line{font-family:\0000388}}
  .center-cont .newsletter-cont {
    width: 90px;
    display: block;
    height: 36px;
    margin: auto;
    margin-top: 20px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }
@media -sass-debug-info{filename{}line{font-family:\0000399}}
    .center-cont .newsletter-cont .email {
      float: left;
      display: block;
      color: #fff;
      width: 0;
      height: 34px;
      text-align: center;
      border: none;
      background-color: #000;
      margin-right: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{}line{font-family:\00003113}}
    .center-cont .newsletter-cont.show {
      width: 232px;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -ms-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out; }
@media -sass-debug-info{filename{}line{font-family:\00003119}}
      .center-cont .newsletter-cont.show .email {
        border: 1px dotted #C3C3C3;
        margin-right: 10px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        width: 128px; }
@media -sass-debug-info{filename{}line{font-family:\00003128}}
    .center-cont .newsletter-cont .newsbtn {
      float: left;
      height: 18px;
      width: 76px;
      display: block;
      background-color: #000;
      color: #fff;
      padding: 7px;
      text-align: center;
      cursor: pointer;
      padding-bottom: 11px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
@media -sass-debug-info{filename{}line{font-family:\00003141}}
      .center-cont .newsletter-cont .newsbtn p {
        padding: 0;
        margin: 0; }

@media screen and (max-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gamanox\/sites\/hbanger\/ngapp\/app\/styles\/_mobile\.sass}line{font-family:\000033}}
  .video .splashbg {
    background-image: url("/img/F06.jpg");
    background-position: 100% 50%; } }

@media screen and (max-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gamanox\/sites\/hbanger\/ngapp\/app\/styles\/_mobile\.sass}line{font-family:\000038}}
  .center-cont {
    width: 300px;
    height: 310px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gamanox\/sites\/hbanger\/ngapp\/app\/styles\/_mobile\.sass}line{font-family:\0000312}}
    .center-cont .logo {
      width: 300px;
      height: 131px;
      margin-left: auto;
      margin-right: auto;
      background-size: contain; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gamanox\/sites\/hbanger\/ngapp\/app\/styles\/_mobile\.sass}line{font-family:\0000319}}
    .center-cont .social {
      width: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gamanox\/sites\/hbanger\/ngapp\/app\/styles\/_mobile\.sass}line{font-family:\0000321}}
      .center-cont .social a {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gamanox\/sites\/hbanger\/ngapp\/app\/styles\/_mobile\.sass}line{font-family:\0000323}}
      .center-cont .social a.in {
        margin-right: 0; } }


/*# sourceMappingURL=app.css.map*/