doctype
html
	head
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title hbanger
		link(rel='favicon.ico', href='favicon.ico')
		link(rel='stylesheet', href='/css/app.css')
		script.
			window.brunch = window.brunch || {};
			window.brunch['auto-reload'] = {enabled: true};
		script(src='/js/vendor.js')
		script(src='/js/app.js')
	body
		.splash
			.video
				//- video#video(src="/img/girl_bike.mp4", autoplay, preload="auto", loop)
				.splashbg
				.dot
			.center-cont
				.logo
				.social
					a.fb(href="https://www.facebook.com/pages/Hedbanger/263170540498734?fref=ts", target="_blank")
					a.tw(href="http://twitter.com/HedbangerBarber", target="_blank")
					a.in(href="http://instagram.com/hedbangerbarbershopbar", target="_blank")
				.newsletter-cont
					
					form(name='subscriber_form', action='http://www.mynewsletterbuilder.com/tools/ext_subscribe', method='post', target='_blank', class="getnews")
						input(type='hidden', name='mnb_success_url', value='')
						input(type='hidden', name='mnb_error_url', value='')
						input(type='hidden', name='mnb_uid', value='2227092')
						input(type='hidden', name='mnb_cat_override', value='add')
						input(type='hidden', name='mnb_notify', value='')
						input(type='hidden', name='mnb_nlid', value='')
						div(align='left')
					
							//- input(type='submit', value='Subscribe')

							span(style='float: right;')
						input(type='text', name='mnb_fields[email]', class="email", placeholder="type email")
						
						input(type='hidden', name='mnb_req_fields[email]', value='Email')
						input(type='hidden', name='mnb_cats[]', value='436691')
						.newsbtn
							p get news

