doctype
html
    head
        meta(charset='utf-8' )
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title hbanger
        link(rel='favicon.ico', href='favicon.ico')
        link(rel='stylesheet', href='/css/app.css')
        script.
            window.brunch = window.brunch || {};
            window.brunch['auto-reload'] = {
                enabled: true
              };
        script(src='/js/vendor.js')
        script(src='/js/app.js')
    body
        .splash
            .video
                video#video(src="/img/girl_bike.mp4", autoplay, preload="auto", loop)
                .dot
            .center-cont
                .logo
                .social
                    a.fb(href="https://www.facebook.com/pages/Hedbanger/263170540498734?fref=ts", target="_blank")
                    a.tw(href="http://twitter.com/HedbangerBarber", target="_blank")
                    a.in(href="http://instagram.com/hedbangerbarbershopbar", target="_blank")
